<h1>{{title}}</h1>
<a href="/users/new">Yangi foydalanuvchi</a>
<div class="row">
{{#each users}}
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="card">
            <img src="{{avatar}}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">
                    {{name}}
                </h5>
                <a href="mailto:{{email}}" class="card-title">
                    {{email}}
                </a>
                <a href="/tasks/newtask/{{_id}}" class="btn btn-primary">
                    Topshiriq berish
                </a>
            </div>
        </div>
    </div>
{{/each}}
</div>
